@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.logo {
  color: #fff;
  font-family: Neutra Text;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: #d9d9d9;
  padding: 2.5rem 2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #525a61;
  margin: 5px;
  transition: all 0.3s ease;
}

.midnav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.midnav li {
  cursor: pointer;
  color: #525a61;
  font-family: Neutra Text;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.lastnav{
  color: #525A61;
font-family: Neutra Text;
font-size: 1.1vw;
text-transform: uppercase;
}
.lastnav svg {
  margin-right: 0.5rem;
  cursor: pointer;
}

#lang {
  margin-right: 1rem;
  padding: 0.5rem;
}

.containerstyles {
  width: 100%;
  height: 52.5vw;
  margin: 5rem auto;
}
.sliderstyle {
  height: 100%;
  position: relative;
}
.dotscontanier {
  display: flex;
  justify-content: center;
}
.dotsstyle {
  margin: 2.2vw 0.5vw;
  cursor: pointer;
}
.dotsstyle:active {
  border-radius: 3px solid red;
}
.leftarrowstyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -1.5vw;
  font-size: 3.3vw;
  z-index: 1;
  cursor: pointer;
  background: white;
}
#capsule {
  border-radius: 32px;
}
.rightarrowstyle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -1.5vw;
  font-size: 3.3vw;
  z-index: 1;
  cursor: pointer;
}
/* storyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy */
.story {
  position: relative;
  margin-top: 15.5vw;
  height: 52.5vw;
  border-radius: 2.2vw;
  background: #fbf7f0;
  display: flex;
  flex-direction: row;

}

.left {
  position: absolute;
  top: -5.5vw;
  left: 5%;
  width: 45%;
}

.innerleft {
  position: relative;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  width: 36vw;
  height: 46vw;
  padding: 7.2vw 6.5vw 7.3vw 6.5vw;
  flex-shrink: 0;
  border-radius: 2.2vw;
  background: #dfedf9;
}

.box1 img {
  width: 23vw;
  height: 32vw;
  object-fit: cover;
  flex-shrink: 0;
}

.box2 {
  position: absolute;
  width: 23.8vw;
  height: 25.5vw;
  border-radius: 2.2vw;
  background: #d4e7f7;
  right: 0.3vw;
  bottom: -17.5vw;
}

.right {
  width: 45%;
  max-width: 37.7vw;
  margin-left: 50%;
  margin-top: 8.3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.1vw;
}

.righttext {
  color: #333;
  font-family: Didot;
  font-size: 3.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 23.5vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.rightinfo {
  color: #525a61;
  font-family: Neutra Text;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.259px;
  text-align: justify;
  margin-top: -4vw;
}
.texttoplogo {
  width: 11.5vw;
  height: 7.5vw;
  position: absolute;
  margin: 0 auto;
  left: 10.2vw;
  top: 5.5vw;
}

.product {
  margin-top: 15.4vw;
}
.productcarousel::-webkit-scrollbar {
  display: none;
}
.productcarousel {
  margin-top: 5.5vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  display: flex;
  gap: 2.2vw;
  align-items: center;
  justify-content: start;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.topoption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.Sectiontitle {
  color: #333;
  clear: both;
  font-family: Didot;
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.viewall {
  color: #333;
  font-family: Neutra Text;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-decoration-line: underline;
  cursor: pointer;
}


/* product */
.toppart {
  display: flex;
  width: 27.5vw;
  height: 35vw;
  padding: 4.4vw 4.4vw 4.3vw 4.3vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.2vw;
  background: #edeef7;
}
.btmpart {
  margin-top: 2.2vw;
  width: 27.5vw;
  color: #333;
  font-family: Neutra Text;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.productcard:nth-child(4n + 1) .toppart {
  background-color: #edeef7;
}

.productcard:nth-child(4n + 2) .toppart {
  background-color: #fee3dc;
}

.productcard:nth-child(4n + 3) .toppart {
  background-color: #ede8f7;
}

.productcard:nth-child(4n + 4) .toppart {
  background-color: #ffe5bd;
}

/* grid boxes */
.gridboxes {
  width: 100%;
  height: 52vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 48% 48%;
  grid-row-gap: 2.5vw;
  grid-column-gap: 2.5vw;
  box-sizing: border-box;
}
/* alllllllllll */
.gridtext .gridtitle {
  color: #ff961c;
  font-family: Didot;
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  width: 35%;
  border-bottom: 2px solid #ff961c;
}

.gridtitle {
  font-size: 3.3vw;
}
.gridinfo {
  font-size: 1.4vw;
}
/* allllllllllllllllllllllllllll */
.gridbox1 {
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 2.2vw;
  background: #ffe5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gridbox1 .gridtext {
  position: absolute;
  left: 0.1vw;
  width: 12vw;
  height: 9vw;
  margin: 1.2vw;
 
}

.gridbox1 .gridimg {
  position: absolute;
  margin-top: 16.5vw;
  right: -6.6vw;
  width: 80%;
  height: 80%;
}

.gridbox1 .gridimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gridbox2 {
  grid-column: 2/4;
  border-radius: 2.2vw;
  background: #ffe5bd;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.gridbox2 .gridimg {
  align-self: flex-start;
  margin-top: 6.6vw;
  /* height: auto; */
  transform: rotate(12deg);
}

.gridbox2 .gridtext {
  width: 16.5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gridbox3 {
  grid-row: 1/-1;
  grid-column: 4/-1;
  border-radius: 2.2vw;
  background: linear-gradient(102deg, #e6def7 0%, #cab9ee 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.gridbox3 .gridtext {
  width: 13.2vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gridbox3 .gridimg {
  margin-left: 6.6vw;
}

.gridbox3 .gridtext .gridtitle {
  color: #9472d9;
  border-bottom: 2px solid #9472d9;
}

/* griddddddddddddddddddddboxxxxxxxxxxx4 */
.gridbox4 {
  grid-column: 1/3;
  grid-row: 2/3;
  border-radius: 2.2vw;
  background: linear-gradient(235deg, #f1d6b8 0%, #fcf2e7 100%);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.gridbox4 .gridtext {
  width: 16.5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gridbox4 .gridimg {
  align-self: flex-start;
  margin-top: 6.6vw;
  height: 100%;
}

.gridbox4 .gridtext .gridtitle {
  color: #d5a062;
  border-bottom: 2px solid #d5a062;
}

/* griiiiiiiiiiiidddddddboxxxxxxxxxxxxxxxx5 */
.gridbox5 {
  grid-column: 3/4;
  grid-row: 2/3;
  border-radius: 2.2vw;
  /* border-radius: 32px; */
  background: linear-gradient(332deg, #5c587b 0%, #c0bed0 0.01%, #f6f6f9 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gridbox5 .gridtext {
  width: 16.5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -8.5vw;
  margin-left: 2.5vw;
  z-index: 1;
}

.gridbox5 .gridimg {
  transform: rotate(15deg);
  width: 100%;
  height: 85%;
  margin-top: 13.2vw;
  margin-right: -3.6vw;
  z-index: 3;
}
.gridbox5 .gridimg img{
  object-fit: cover;
}
.gridbox5 .gridimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive Styles */

/* trending */

.trndname {
  color: #333;
  font-family: Didot;
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trendingcards {
  width: auto;
  height: 52.5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 48% 48%;
  grid-row-gap: 2.2vw;
  grid-column-gap: 2.2vw;
  box-sizing: border-box;
}
.trendingcard {
  background: linear-gradient(
    360deg,
    rgba(240, 131, 131, 0.71) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.trendingcard1 {
  grid-row: 1/-1;
  grid-column: 1/3;
  border-radius: 2.2vw;
  padding: 4.4vw;
}
.trendingcard2 {
  grid-column: 3/4;
  border-radius: 2.2vw;
  padding: 1.6vw;
}
.trendingcard3 {
  grid-column: 4/-1;
  padding: 1.6vw;
  border-radius: 2.2vw;
}
.trendingcard4 {
  padding: 1.6vw;
  border-radius: 2.2vw;
}
.trendingcard5 {
  padding: 1.6vw;
  border-radius: 2.2vw;
}

.trendingcard .heading {
  color: #fff;
  font-family: Didot;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2vw; 
  
}
.trendingcard .desc {
  color: #fff;
  font-family: Neutra Text;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.1vw; /* 150% */
  letter-spacing: 0.324px;
}
.trendingcard button {
  display: flex;
  padding: 1.5vw 3.5vw 1.5vw 3.5vw;
  justify-content: center;
  align-items: center;
  border-radius: 35vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}
.trendingtext {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.container {
  width: 60%;
  margin: 10vw auto;
  overflow: auto;
}

h1 {
  text-align: center;
  margin-bottom: 1.5vw;
}

.title {
  height: 2.7vw;
  background: #6bb170;
  color: white;
  text-align: center;
  padding-top: 0.9vw;
}

.faqsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8.2vw;
}
.faqsection h2 {
  color: #333;
  font-family: Didot;
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.faqsection ol {
  margin: 5.5vw 11vw;
}
ol li {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.2vw 0.5vw;
 
}
ol li:nth-child(1){
  border-bottom: 0.03vw solid #d9d9d9;
  border-top: 0.03vw solid #d9d9d9;
}
ol li:nth-child(2){
  border-bottom: 0.03vw solid #d9d9d9;
}
ol li:nth-child(3){
  border-bottom: 0.03vw solid #d9d9d9;
}
ol li .upperoption {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
ol li span {
  width: 90%;
  color: #525a61;
  font-family: Neutra Text;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4vw; /* 150% */
}
ol li button {
  width: 10%;
}

.answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.answer p {
  margin-top: 0.3vw;
  padding: 0.8vw;
  background-color: #c0bed4;
  width: 100%;
  color: #525a61;
  font-family: Neutra Text;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4vw; /* 150% */
  border-radius: 2vw;
}

.answer.open {
  max-height: 35vw;
}

/* footer-------------- */
.footer {

  padding: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vw;
  box-sizing: border-box;
}
.innerfooter {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}
.innerfooter .logo{
  align-self: center;
}

.innerfooter li{
  color: #525A61;
font-family: Neutra Text;
font-size: 1.5vw;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
margin: 2vw auto;


}
.optionlist {
  display: flex;
  gap: 16.5vw;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 1.1vw;
  height: 5.5vw;
  color: #333;
font-family: Didot;
font-size: 2.4vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.socialIcons {
  display: flex;
  margin-top: 0.8vw;
  gap: 1.1vw;
}

@media (min-width:375px) and (max-width: 500px) {
  .navigation {
    position: relative;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .midnav {
    display: none;
   
  }
  .sideoption{
    position: absolute;
    right: 0;
   z-index: 10;
background: rgba(212, 231, 247,0.9);
transform: translateY(60%);
width: 100%;
border-radius: 4vw;
padding:30px 20px;
text-align: center;
cursor: pointer;
  }

  .nav-links li{
    cursor: pointer;
    transition: all 0.5s;
    border-radius:0.8vw ;
  }
  .nav-links li:hover{
    color: #72aed9;
   background: rgba(11, 11, 11, 0.5);
  }
  .lastnav {
    display: none;
  }

  .story {
    flex-direction: column;
    height: 670px;
    margin-top: 5.5vw;
    padding: 2.2vw;
    
  }

  .story .left {
    height: 80%;
    width: 90%;
    position: absolute;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;

  }
  .left .box1{
    width:50%;
    height:50%;
  }
  .box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .left .box2 {
    width: 50%;
    height: 70%;
    margin-top: 2.2vw;
    right: 5%;
   /* bottom: -15%; */
   transform: translateY(10%);
    
  }
  .right {
    position: absolute;
    transform: translateY(70%);
     width: 100%;
    height: 50%;
    max-width: none;
    margin-left: 0;
  }
  .righttext{
    color: #333;
font-family: Didot;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: center;
  }
  
  .rightinfo{
    color: #525A61;
    font-family: Neutra Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
    letter-spacing: 0.227px;
  }
  .texttoplogo{
    transform: translateX(50%);
    right: 0;
  }
  

  /* .trending */
  .trendingcards{
    grid-template-rows: repeat(4,25%);
    grid-template-columns: repeat(2,50%);
   height:750px;
    width: 100%;
    
    
  }
  .trendingcard1{
    grid-column: 1/-1;
    grid-row: 1/3;
    height: 100%;
  }
  .trendingcard2{
    grid-column: 1/2;
    grid-row:3/4 ;
    height: 100%;
    width: 100%;
  }
  .trendingcard3{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .trendingcard4{
    grid-column:1/2 ;
    grid-row: 4/5;
  }
  .trendingcard5{
    grid-column:2/3 ;
    grid-row: 4/5;
  }
  /* grid boxes */
.gridboxes{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 33% 33% 33%;
  height: 600px;
}
.gridtitle{
  font-size: 20px;
}
.gridbox1{
  grid-column: 1/2;
  grid-row: 1/2;
}
.gridbox1 .gridimg {
  position: absolute;
  width: 50%;
  height: 100%;
  
}


.gridbox2{
  position: relative;
  grid-column: 2/-1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  
}
.gridbox2 .gridtext {
  position: absolute;
  width: 80%;
  top: 7vw;
}
.gridbox2 .gridtitle{
  width: 18%;
  border-bottom: 2px solid #ff961c;
}
.gridbox2 .gridimg {
  position: absolute;
  transform: rotate(14deg);
  bottom: -15vw;
  left: 1.4vw;
}
.gridbox3{
  display: none;
}
.gridbox4{
  grid-column: 1/-1;
  grid-row: 3/-1;
  display :flex;
  justify-content: center;
}
.gridbox4 .gridtext {
  width: 17vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 30px;
}
.gridbox4 .gridimg {
  align-self: flex-start;
  margin-top: 6.6vw;
  height: 50%;
  width: 40%;
}
.gridbox5{
  grid-column: 1/2;
  grid-row: 2/3;
}
.gridbox5 .gridtext {
  width: 110px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -90px;
  margin-left: 2vw;
  z-index: 1;
}
.gridbox5 .gridimg {
  transform: rotate(15deg);
  width: 60%;
  height: 100%;
  margin-top:80px;
  margin-right: -3vw;
  z-index: 3;
  
}
.gridbox5 .gridimg{
  width: 90%;
}
.gridbox5 .gridtext .gridtitle {
  color: #9472d9;
  border-bottom: 2px solid #9472d9;
}

.footer{
  height:39vw;
}

.innerfooter{
  height: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  padding-bottom: 30px;
}
.logo{
  padding: 12px 14px;
  
}
.optionlist{
  display: block;
}
li{
  margin: 5px auto;
}
.hbar{
  display: none;
}
}
